<li id="<%= feed_item.id %>">
	<span class="course">
		<b>
			<font size = 3>
				<%= link_to feed_item.followed_course.coursename, feed_item.followed_course %>
			</font>
		</b>
	</span>
	<% if feed_item.follower_user == feed_item.followed_course.user %>
		<span class="launcher_content"><%= feed_item.content %></span>
	<% else %>
		<span class="content"><%= feed_item.content %></span>
	<% end %>
	<span class="launched_info">
		Posted by <%= link_to feed_item.follower_user.name, feed_item.follower_user %> 
		<%= time_ago_in_words(feed_item.created_at) %> ago.
	</span>
	<% if current_user?(feed_item.follower_user) %>
		<%= link_to "delete", feed_item, method: :delete,
																		 data: { confirm: "You sure?" },
																		 title: feed_item.content %>
	<% end %>
</li>