<li>
	<b>
		<font size = 3>
			<span class="coursename"><%= course.coursename %></span>
		</font>
	</b>
	<span class="timestamp">
		Launched <%= time_ago_in_words(course.created_at) %> ago.
	</span>
	<% if current_user?(course.user) %>
		<%= link_to "delete", course, method: :delete,
																	data: { confirm: "You sure? This is the point of no return!" },
																	title: course.coursename %>
	<% end %>
	<br>
	<%= link_to "View course", course_path(course) %> |
	<%= link_to "Join course" %>
</li>