<% provide(:title, @course.coursename) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1><%= @course.coursename %></h1>
			<br>
			<b>Description</b>
			<p>(Description feature coming soon)</p>
			<br>
			<span class="launched_info">
				Launched by 
				<%= link_to @course.user.name, @course.user %>
				<%= time_ago_in_words(@course.created_at) %> 
				ago.
			</span>
		</section>
		<section>
			<%= render 'shared/other_stats' %>
		</section>
		<section>
			<br>
			<%-# Switching to shared to try to get failed posting to work -%>
			<%= render 'shared/follow_course_form' if signed_in? %>
		</section>	
	</aside>
	<div class="span8">
		<section>
			<br>
			<%= render 'shared/post_form' %>
		</section>
		<section>
			<%-#<% if @course.posts.any? -%>
			<h3>Q+A Log (<%= @course.posts.count %>)</h3>
			<ol class="posts">
				<%= render @posts %>
			</ol>
			<%= will_paginate @posts %>
			<%-#<% end -%>
		</section>
	</div>
</div>