<% provide(:title, @course.coursename) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @course.coursename %>
			</h1>
			<br>
			<span class="launched_info">
				Launched by 
				<%= link_to @course.user.name, @course.user %>
				<%= time_ago_in_words(@course.created_at) %> 
				ago.
			</span>
		</section>
		<section>
			<%= render 'shared/other_stats' %>
		</section>
	</aside>
	<div class="span8">
		<%= render 'follow_course_form' if signed_in? %>
	</div>
</div>