<% provide(:title, @title) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1><%=@course.coursename %></h1>
			<span><%= link_to "view course page", @course %></span>
			<span><b>Students:</b> Number of students here </span>
		</section>
		<section>
			<%= render 'shared/other_stats' %>
		</section>
	</aside>
	<div class="span8">
		<h3><%= @title %></h3>
			<% if @users.any? %>
				<ul class="users">
					<%= render @users %>
				</ul>
				<%-# need to add course pagination here <%= will_paginate -%>
			<% end %>
		</section>
	</aside>
</div>